{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <div
            class="container-fluid mt-4"
            {{ stimulus_controller('reload-content',{
                url: path('product_admin_index')
            }) }}
            {{ stimulus_action('reload-content','refreshContent','modal-form:success') }}
    >
        <div class="d-flex flex-row">
            <h1 class="me-3">Product index</h1>
            <div {{ stimulus_controller('modal-form',{
                url:path('product_admin_new'),
                isAjax: true
            }) }}>
                <button
                        class="btn btn-primary btn-sm"
                        {{ stimulus_action('modal-form','openModal') }}
                >Add+</button>

                {{ include('_modal.html.twig',{
                    modalTitle: 'Add new product'
                }) }}
            </div>
        </div>

        <div
                {{ stimulus_target('reload-content','content') }}
        >
            {{ include('product_admin/_list_product.html.twig') }}
        </div>


        <a href="{{ path('product_admin_new') }}">Create new</a>
    </div>
{% endblock %}
